#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

ul {
  list-style-type: none;
}

.user-interaction {
  display: flex;
  justify-content: center;
  margin: auto;

}

.chat-window {
  overflow-y:scroll;
  background-color: #3B3B3B;
  width: 50%;
  height: 300px;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}


.message__outer {
  display: flex;
}

.message__inner {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}

.message__spacer {
    flex: 1;
}

.message__bubble {
    max-width: calc(100% - 67px);
    overflow-wrap: break-word;
}

.details {
  font-size: 10px;
}

.messageReceived {
  text-align: left; 
}
.messageSent {
  text-align: right;
}

.chat-content {
  margin-left: 10px;
  margin-right: 10px;
}