#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

ul {
  list-style-type: none;
}

.user-interaction {
  display: flex;
  justify-content: center;
  margin: auto;

}

.chat-window {
  overflow-y:scroll;
  background-color: #3B3B3B;
  width: 50%;
  height: 300px;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}